extends layout

block content
  link(rel="stylesheet", type="text/css", href="/assets/css/index.css")
  div.user_info.module
    h2(class = "hd") 用户信息
    .bd
      ul(class = "info_list clearfix")
        li(class = "info_item") 昵称：#{user.name} (<a href="#{authorize.logout}">切换账号</a>）
  .org_info.module 
    h2(class = "hd")  组织
    .bd
      .info_item 当前拥有的组织： 
      if user.owns.length
        a(href="/org/#{user.owns[0]._id}/") #{user.owns[0].title}
      else
        
        if userOrg
          .info_item 当前所属的组织：
          .item
            a(href="/org/#{userOrg._id}/?mode=postSchedules") #{userOrg.title}
        else
          .info_item 您当前不属于任何组织，请联系组织管理者添加您到工作组中，或者点击
          a(href="/org/new/") 创建组织
          |。
  .sns_info.module
    h2(class = "hd")  绑定社交网络，绑定后信息才可以同步到此社交网络
    .bd
      .info_item 新浪微博 
        if user.sinaToken
          |（已绑定 #{user.name}）
        else
          |（未绑定，
          a(href="#{authorize.sina}") 点击绑定
          |）
      .info_item 腾讯微博 
        if user.qqToken.length
          |（已绑定 #{user.qqName}
          a(href='/tqq_auth_cb') 解除绑定
          |）
        else
          |（未绑定，<a href="#{authorize.tqq}">点击绑定</a>）
      .info_item 人人网 
        if user.renrenToken
          |（已绑定 #{user.renrenName}
          a(href='/renren_auth_cb') 解除绑定
          |）
        else
          |（未绑定，<a href="#{authorize.renren}">点击绑定</a>） 
      .info_item 豆瓣 
        if user.doubanToken
          |（已绑定 #{user.doubanName}
          a(href='/douban_auth_cb') 解除绑定
          |）
        else
          |（未绑定，<a href="#{authorize.douban}">点击绑定</a>）
  if userOrg
    .sns_info.module
      h2(class = "hd")  定时功能
      .bd
        .info_item 
          a(href='/org/#{userOrg._id}/?mode=postSchedules') 管理定时发布 (#{userOrg.postSchedules.length}条待发布)

    .sns_info.module
      h2(class = "hd")  设置首尾拼图
      .bd
        .info_item
          .title 头部模板图 （
            a(href="#headThumb") 重新设置
            |，
            a(href="/org/#{userOrg._id}/setHead") 删除
            |）
          form.anchor#headThumb(enctype='multipart/form-data',method='post',action='/org/#{userOrg._id}/setHead')
            input(type='file',name='file')
            button(type='submit') 上传
          .pic
            img(style='width:400px;',src = "/assets/org#{userOrg._id}head.jpg")
        .info_item
          .title 尾部模板图 （
            a(href="#headThumb") 重新设置
            |，
            a(href="/org/#{userOrg._id}/setFoot") 删除
            |）
          form.anchor#headThumb(enctype='multipart/form-data',method='post',action='/org/#{userOrg._id}/setFoot')
            input(type='file',name='file')
            button(type='submit') 上传
          .pic
            img(style='width:400px;',src = "/assets/org#{userOrg._id}foot.jpg")
  script(src='/assets/js/index.js')
