extends layout
block content
  form(action='/org/#{org._id}/save',method='post')
    input(type='text',name='org[title]',value='#{org.title}')
    button(type='submit')
  h2 内容库编辑
  for editor in org.editors
    p #{editor.name}
      a(href='editor/#{editor.id}/remove') 删除

  form(action='editor/new',method='post')
    input(type='text',name='user[name]',placeholder='用户名')
    button(type='submit')


  h2 管理员
  for poster in org.posters
    p #{poster.name}
      a(href='poster/#{poster._id}/remove') 删除

  form(action='poster/new',method='post')
    input(type='text',name='user[name]',placeholder='用户名')
    button(type='submit')

  h2 内容库
  ul
    for content in org.contents
      li
        a(href='/content/#{content._id}/') #{content.content}
  p
    a(href='/content/new/') 增加
  h2 计划任务
  ul
    for postSchedule in org.postSchedules
      li
        a(href='/postSchedule/#{postSchedule._id}/') #{moment(postSchedule.time).format('LLL')}开始每#{postSchedule.interval}分钟

  p
    a(href='/postSchedule/new/') 增加

  pre #{JSON.stringify(org,null,'  ')}