extends layout

block content
  link(rel="stylesheet", type="text/css", href="/assets/css/org.css")

  p
    a(class=mode=='postSchedules'?'active':'' ,href='?mode=') 管理定时发布
    a(class=mode=='postSchedules'?'':'active',href='?mode=postSchedules') 组织信息
  .error_info.module 
    if String(org._id)!=(userOrg._id)
      h2.hd 对不起，你不属于此组织，请向管理员申请添加您到组织中。
    else
  if mode=='postSchedules'
    h2.hd #{user.name}，您好，这里是#{org.name}的组织库
      for postSchedule in org.postSchedules
        div #{postSchedule.content}
        a(href='/postSchedule/#{postSchedule._id}/remove') 删除
    p 
      a(href='postSchedules/new') 添加
  else
    .org_info.module
      h2.hd 组织信息
      .bd
        form(method='post',action='save')
          ul.info_list.clearfix
            li.info_item 组织名称：
              input(type='text',name='org[title]',value=org.title)
              button.btn(type='submit') 修改
            li.info_item 组织老大：#{org.owner.name}
            li.info_item 组织构成：
              for member in org.members
                span #{member.name}
                a(href='members/#{member.name}/remove') 删除
        form(action='members/new',method='post')
          ul.info_list.clearfix
            li.info_item 添加新成员：
            input(type='text',name='member[name]',placeholder='请输入成员的微博用户名') 
            button.btn 添加
    .add_info.module 
      h2.hd 添加一条内容
      .bd 
        form(action='/org/#{org._id}/contents/new',method='post')
          .info_item 
            textarea(name="content[content]")
          .info_item
            button.btn(type='submit') 添加
    .list_info.module
      h2.hd 内容库
      .bd 
        for content in org.contents
          .info_item.clearfix 
            .col_con.col fsdfsdfsdfsdfdsf
            .col_poster.col 添加者昵称
            .col_del.col
              a.del(href="/content/#{content._id}/remove") 删除
  script(src='/assets/js/org.js')

//- block content
  for editor in org.editors
    p #{editor.name}
      a(href='editor/#{editor.id}/remove') 删除

  form(action='editor/new',method='post')
    input(type='text',name='user[name]',placeholder='用户名')
    button(type='submit')


  h2 管理员
  for poster in org.posters
    p #{poster.name}
      a(href='poster/#{poster._id}/remove') 删除

  form(action='poster/new',method='post')
    input(type='text',name='user[name]',placeholder='用户名')
    button(type='submit')

//- h2 内容库
  for content in org.contents
    p #{content.content}

  h2 计划任务
  ul
    for postSchedule in org.postSchedules
      li
        a(href='/postSchedule/#{postSchedule._id}/') #{moment(postSchedule.time).format('LLL')}开始每#{postSchedule.interval}分钟

  pre #{JSON.stringify(org,null,'  ')}
