extends layout
block content
  form(action='/org/#{org._id}/save',method='post')
    input(type='text',name='org[title]',value='#{org.title}')
    button(type='submit')
  h2 内容库编辑
  for editor in org.editors
    p #{editor.name}
      a(href='editor/#{editor.id}/remove') 删除

  form(action='editor/new',method='post')
    input(type='text',name='user[name]',placeholder='用户名')
    button(type='submit')


  h2 管理员
  for poster in org.posters
    p #{poster.name}
      a(href='poster/#{poster._id}/remove') 删除

  form(action='poster/new',method='post')
    input(type='text',name='user[name]',placeholder='用户名')
    button(type='submit')

  h2 内容库
  for content in org.contents
    p #{content.content}

  h2 计划任务
  for postSchedule in org.postSchedules
    p #{moment(postSchedule.time).format('YYYY/MM/DD')}

  pre #{JSON.stringify(org,null,'  ')}